Flask==3.1.2
Werkzeug==3.1.4
Jinja2==3.1.6
MarkupSafe==3.0.3
itsdangerous==2.2.0
click==8.3.1
blinker==1.9.0
flask-cors==6.0.2
Flask-Session==0.8.0
Flask-SocketIO==5.6.1
python-socketio>=5.0.0
python-engineio>=4.0.0
pymongo==4.15.5
dnspython==2.8.0
cachelib==0.13.0
bcrypt==5.0.0
PyJWT==2.10.1
cryptography==46.0.3
pyotp==2.9.0
qrcode==8.2
pillow==10.4.0
mercadopago==2.3.0
requests==2.32.5
python-dotenv==1.2.1
urllib3==2.6.2
certifi==2025.11.12
charset-normalizer==3.4.4
idna==3.11
scikit-learn==1.8.0
numpy==2.4.0
scipy==1.16.3
joblib==1.5.3
threadpoolctl==3.6.0
pandas==2.3.3
python-dateutil==2.9.0.post0
pytz==2025.2
tzdata==2025.3
six==1.17.0
fpdf==1.7.2
gunicorn==20.1.0
schedule>=1.2.0